/* CSS Document */
a:link {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#Content {
  height: 1350px;
}

#Menures {
  height: 1060px;
}

#MainBody {
  height: 1510px;
}

#soci {
  float: left;
  margin-top: 30px;
  margin-left: 745px;
  z-index: 100;
}

#foot {
  float: left;
  width: 600px;
  height: 30px;
  float: left;
  margin-top: 26px;
  margin-left: 320px;
}
