# See these links for info about this file:
# http://stackoverflow.com/questions/170961/whats-the-best-crlf-carriage-return-line-feed-handling-strategy-with-git
# https://help.github.com/articles/dealing-with-line-endings/

# Auto detect text files and perform LF normalization
*            text=auto

*.cs         text diff=csharp
*.java       text diff=java
*.html       text diff=html
*.css        text
*.less       text
*.properties text
*.js         text
*.sql        text
*.svg        text
*.xml        text
*.tag        text
MANIFEST.MF  text

*.docx       diff=astextplain
*.DOCX       diff=astextplain

# Denote all files that are truly binary and should not be modified.
*.png        binary
*.jpg        binary
*.ico        binary
*.jpeg       binary
*.gif        binary

